<!DOCTYPE html>
<html>
<head>
  <title>Simply auth</title>
  <%= stylesheet_link_tag    "simply_auth/application", media: "all" %>
  <%= javascript_include_tag "simply_auth/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
